<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.science3.flaskserver</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/opt/anaconda3/bin/python</string>
        <string>/Users/shimizumasaki/science3(壊していい)/app.py</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/shimizumasaki/science3(壊していい)</string>
    
    <key>StandardOutPath</key>
    <string>/Users/shimizumasaki/science3(壊していい)/launchd.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/shimizumasaki/science3(壊していい)/launchd.error.log</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/anaconda3/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
